{%- set default_version = salt['grains.filter_by']({
    'sid': '12',
    'bullseye': '12',
    'buster': '11',
}, grain='oscodename') %}

{%- set version = salt['pillar.get']('postgresql:server:version', default=default_version)|string %}
{%- set version_numbers = version|replace('.', '') %}
{%- set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['postgresql-{:s}'.format(version), 'postgresql-contrib', 'postgresql-doc'],
        'service': 'postgresql',
        'version': version,
        'init_command': 'pg_createcluster {:s} main --start'.format(version),
        'dir': {
          'config': '/etc/postgresql/{:s}/main'.format(version),
          'data': '/var/lib/postgresql/{:s}/main'.format(version)
        },
        'cluster': 'main',
        'locale': 'en_US.UTF-8',
    },
}, merge=salt['pillar.get']('postgresql:server')) %}

{%- set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['postgresql-client'],
    }
}, merge=salt['pillar.get']('postgresql:client')) %}
